---
import BookingForm from './BookingForm.astro';
import BookingSidebar from './BookingSidebar.astro';
---
<section class="section-padding">
  <div class="container mx-auto container-padding">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div class="lg:col-span-2">
        <BookingForm />
      </div>
      <div>
        <BookingSidebar />
      </div>
    </div>
  </div>
</section>
