---
import Submarca from '@images/Submarca - HEX DAD6C9 - PNG.png';
---

<div class="brand-logo-container">
  <img src={Submarca.src} alt="Brand Logo" class="brand-logo" />
</div>

<style>
  .brand-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem; /* Añadir padding para mejor espaciado */
  }

  .brand-logo {
    max-width: 100%;
    height: auto;
    width: auto; /* Ajustar automáticamente el ancho */
    max-width: 100px; /* Ajustar este valor según sea necesario */
  }

  @media (max-width: 1200px) {
    .brand-logo {
      max-width: 80px; /* Ajustar este valor según sea necesario */
    }
  }

  @media (max-width: 900px) {
    .brand-logo {
      max-width: 60px; /* Ajustar este valor según sea necesario */
    }
  }

  @media (max-width: 600px) {
    .brand-logo {
      max-width: 40px; /* Ajustar este valor según sea necesario */
    }
  }
</style>
